html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: var(--semi-color-text-0);
  background-color: var(--semi-color-bg-0);
  overflow: hidden;
}

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
